.plan-container {
    display: flex;
    flex-direction: row;

    border: solid 1px hsl(231, 11%, 63%);
    border-radius: 10px;
    padding: 1em;
    gap: 1em;

    user-select: none;
    cursor: pointer;
}

.plan-container h4 {
    color: hsl(213, 96%, 18%);
}

.plan-container img {
    height: 100%;
}

.plan-container p,
.plan-container h4 {
    margin: 0;
}

.plan-container p {
    font-size: 14px;
}

.container input {
    position: absolute;
    visibility: hidden;
}

input:checked~label .plan-container {
    border-color: hsl(243, 100%, 62%);
}

.plan-container:hover {
    border-color: hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
}

@media (min-width:800px) {
    .plan-container {
        flex-direction: column;
        width: 6em;
        height: 8em;
    }
}