.plan-container {
    display: flex;
    flex-direction: row;

    border: solid 1px black;
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
}

.plan-container img {
    height: 100%;
}

.plan-container p,
.plan-container h4 {
    margin: 0;
}

.plan-container p {
    font-size: 14px;
}

@media (min-width:800px) {
    .plan-container {
        flex-direction: column;
        width: 6em;
        height: 8em;
    }
}