.inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.plans-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.bill-type-selector {
    display: flex;
    justify-content: center;
}