.inputs {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.plans-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.bill-type-selector {
    display: flex;
    justify-content: center;
}

.error-text {
    color: hsl(354, 84%, 57%)
}

@media (min-width:800px) {
    .plans-container {
        flex-direction: row;
        gap: 2em;
        justify-content: center;
    }
}