.step-selector-container {
    position: relative;
}

.step-selector-container img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.steps-container {
    display: flex;
    padding: 1.5em;
    justify-content: center;
    color: white;
}

.step>div {
    width: 2.2em;
    aspect-ratio: 1;
    border: solid 1px white;
    text-align: center;
    margin: 0.58em;
    border-radius: 100%;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step[data-selected="yes"]>div {
    background-color: hsl(206, 94%, 87%);
    border-color: hsl(206, 94%, 87%);
    color: black;
}

.step>p {
    display: none;
}

@media (min-width:800px) {

    .step-selector-container img {
        width: unset;
        position: relative;
        z-index: -1;
        display: block;
    }

    .steps-container {
        flex-flow: column;
        position: absolute;
        gap: 2.2em;
        top: 2.8em;
        left: 2.4em;
        font-size: 14px;
        text-transform: uppercase;
        padding: unset;
    }

    .step {
        display: grid;
        grid-template-columns: auto 1.15em 1fr;
        grid-template-rows: 1fr 1fr;
        align-content: center;
        justify-content: center;
    }

    .step>div {
        grid-row: 1/3;
        grid-column: 1;
        width: 2.2em;
        vertical-align: middle;
        line-height: 100%;
        aspect-ratio: 1;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step>p {
        grid-column: 3;
        display: block;
        margin: 0
    }

    .step>p:nth-child(3) {
        font-weight: 700;
        letter-spacing: 0.8px;
    }

    .step>p:nth-child(2) {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}