.input input {
    border: 1px solid black;
    padding: 0.7em 1.2em;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.input div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.input .error-text {
    color: hsl(354, 84%, 57%)
}

.input input.error-input {
    border-color: hsl(354, 84%, 57%);
}

.input input:focus {
    border-color: blue;
}

.input input:focus+div .error-text {
    display: none;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.2em
}