.step-selector-container img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.steps-container {
    display: flex;
    padding: 1.5em;
    justify-content: center;
}

.step {
    width: 1.3em;
    height: 1.3em;
    padding: 0.55em;
    aspect-ratio: 1;
    color: white;
    border: solid 1px white;
    text-align: center;
    margin: 0.58em;
    border-radius: 100%;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

.step[data-selected="yes"] {
    background-color: hsl(206, 94%, 87%);
    border-color: hsl(206, 94%, 87%);
    color: black;
}