.step1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container h2 {
    margin: 0
}

.form-container p {
    line-height: 1.6em;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.2em
}

.input input {
    border: 1px solid black;
    padding: 0.7em 1.2em;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.input div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.input .error-text {
    color: hsl(354, 84%, 57%)
}

.input input.error-input {
    border-color: hsl(354, 84%, 57%);
}

.input input:focus {
    border-color: blue;
}

.input input:focus+div .error-text {
    display: none;
}

@media (min-width:800px) {
    .form-container {
        gap: 1em;
    }
}