:root {
    font-size: 16px;
    font-family: 'Ubuntu';
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(206, 94%, 87%);
    position: relative;
    z-index: -2;
    height: 100vh;
    overflow-x: hidden;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.overlay {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.2;
    pointer-events: none;
}

.step-container {
    background-color: white;
    width: calc(92% - 3.1em);
    border-radius: 12px;
    padding: 2.15em 1.55em 1.5em 1.55em;
}

.step-selector {
    width: 100%;
}

input {
    all: unset;
}

.next-button {
    position: absolute;
}

main {
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}

.next-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}

.next-button button {
    all: unset;
    color: white;
    padding: 0.8em;
    background: hsl(213, 96%, 18%);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.next-button button:hover {
    background-color: hsl(213, 74%, 21%);
}

.next-button button:active {
    background-color: hsl(213, 49%, 40%);
}

@media (min-width: 800px) {

    .next-button {
        position: unset;
        padding: 0
    }

    main {
        grid-template-columns: 1fr 3fr;
        max-width: 56.9rem;
        width: calc(100% - 2em);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        align-items: center;
        background-color: white;
        border-radius: 15px;
    }

    .step-selector {
        position: relative;
    }

    .step-container {
        height: 100%;
        box-sizing: border-box;
        width: unset;
    }

    .next-button button {
        padding: 1.1em 1.7em;
    }
}