:root {
    font-size: 16px;
    font-family: 'Ubuntu';
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.overlay {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.2;
    pointer-events: none;
}

.step-container {
    background-color: white;
    width: calc(92% - 3.1em);
    transform: translate(4%);
    border-radius: 12px;
    padding: 1.55em;
    padding-top: 2em;
}

input {
    all: unset;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 58.8rem;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .step-selector {
        position: relative;
        padding: 1em;
        padding-top: 2.2em;
    }
}